<footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://web.facebook.com/felipevaldesas/" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-whatsapp btn btn-link " href="https://wa.me/56971344176" target="_blank">
        <i class="fa fa-whatsapp fa-2x " aria-hidden="true"></i>
      </a>

      <a class="cc-github btn btn-link " href="https://github.com/felipevaldesas" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>
